html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: DINPro-Light; src: url("fonts/DINPro-Light.eot"); src: url("fonts/DINPro-Light.eot?#iefix") format("embedded-opentype"), url("fonts/DINPro-Light.woff2") format("woff2"), url("fonts/DINPro-Light.woff") format("woff"), url("fonts/DINPro-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: DINPro-Bold; src: url("fonts/DINPro-Bold.eot"); src: url("fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/DINPro-Bold.woff2") format("woff2"), url("fonts/DINPro-Bold.woff") format("woff"), url("fonts/DINPro-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: proximanova-bold; src: url("fonts/proximanova-bold.eot"); src: url("fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold.woff2") format("woff2"), url("fonts/proximanova-bold.woff") format("woff"), url("fonts/proximanova-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-size: 14px; line-height: 1.4; background: #000; color: #FFF; font-family: DINPro-Light, Arial, sans-serif; }

.out { min-width: 320px; }

a { text-decoration: none; }

.l-center { max-width: 840px; padding: 0 20px; margin: 0 auto; }

.header { min-height: 466px; background: url(../img/main.jpg) top center no-repeat; box-shadow: inset 0px -50px 50px 0px rgba(0, 0, 0, 0.85); font-family: DINPro-Bold, Arial, sans-serif; }
.header__bl { padding: 20px 20px 0; *zoom: 1; }
.header__bl:after { content: " "; display: table; clear: both; }
.header__logo { float: right; }
.header__ttl { margin-top: 40px; text-align: center; text-shadow: 0 0 4px rgba(0, 0, 0, 0.75); text-transform: uppercase; font-size: 30px; }
@media only screen and (max-width: 730px) { .header__logo { display: block; float: none; margin-bottom: 20px; }
  .header__logo img { display: block; margin: 0 auto; } }

.address { font-size: 0; }
.address li { display: inline-block; padding: 0 20px; font-size: 17px; vertical-align: top; text-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
.address li:first-child { padding-left: 0; }
@media only screen and (max-width: 730px) { .address { text-align: center; }
  .address li { margin-bottom: 20px; }
  .address li:first-child { padding-left: 20px; } }

.main { margin: -100px 0 70px; }
.main__center { text-align: center; }
.main__ttl { margin-bottom: 25px; font-size: 16px; text-transform: uppercase; font-family: proximanova-bold, Arial, sans-serif; }
.main__promo { color: #ffc704; font-size: 16px; text-transform: uppercase; font-family: DINPro-Bold, Arial, sans-serif; }
.main__subttl { position: relative; font-size: 16px; text-transform: uppercase; letter-spacing: 0.25px; font-family: DINPro-Bold, Arial, sans-serif; }
.main sub { display: inline-block; vertical-align: -4px; }
.main__auto { margin: 30px 0; *zoom: 1; }
.main__auto:after { content: " "; display: table; clear: both; }
.main__auto-ttl { text-transform: uppercase; font-size: 21px; font-family: DINPro-Bold, Arial, sans-serif; }
.main__auto-subttl { text-transform: uppercase; font-size: 14px; }
.main__img { float: left; width: 100%; max-width: 367px; margin: 8px 25px 20px 0; }
@media only screen and (max-width: 730px) { .main { margin: 0 0 20px; }
  .main__img { float: none; display: block; margin: 0 auto 20px; }
  .main__auto-ttl, .main__auto-subttl { text-align: center; }
  .main .special { display: block; max-width: 300px; margin: 20px auto 28px; } }

.special { display: inline-block; min-width: 170px; margin: 20px 0 28px; padding: 15px; font-size: 16px; text-transform: uppercase; text-align: center; border: 2px solid #ffc704; cursor: pointer; font-family: DINPro-Bold, Arial, sans-serif; -moz-transition: 0.4s; -o-transition: 0.4s; -webkit-transition: 0.4s; transition: 0.4s; }
.special:hover { background: #ffc704; color: #000; }

.arr_ico { display: block; margin: 20px auto; background: url('../img/icons-s64c2493b93.png') 0 -22px no-repeat; width: 20px; height: 12px; }
.arr_ico.is-up { margin: 11px auto; background: url('../img/icons-s64c2493b93.png') 0 0 no-repeat; width: 20px; height: 12px; }

.expo-ico { position: absolute; top: 10px; right: 0; background: url('../img/icons-s64c2493b93.png') 0 -74px no-repeat; width: 73px; height: 59px; }
@media only screen and (max-width: 730px) { .expo-ico { position: static; display: block; margin: 40px auto; } }

.back { position: relative; text-align: center; *zoom: 1; }
.back:after { content: " "; display: table; clear: both; }
.back.is-margin { margin-top: 40px; }
.back__link { display: inline-block; text-transform: uppercase; font-size: 18px; color: #FFF; font-family: DINPro-Bold, Arial, sans-serif; }
.back .address { margin-top: 30px; }

.popupwrap { position: fixed; top: 0; left: 0; right: 0; bottom: 0; padding: 15px; white-space: nowrap; background: rgba(0, 0, 0, 0.5); visibility: hidden; opacity: 0; text-align: center; font-size: 0; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }
.popupwrap:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popupwrap.is-active { opacity: 1; visibility: visible; }

.popup { display: inline-block; min-width: 280px; padding: 30px; vertical-align: middle; white-space: normal; font-size: 14px; background: #FFC704; color: #000; border-radius: 2px; }
.popup h3 { max-width: 550px; margin-bottom: 15px; font-size: 25px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: DINPro-Bold, Arial, sans-serif; }
.popup__form label { display: block; max-width: 400px; margin: 15px auto; }
.popup__form input { width: 100%; padding: 10px 15px; }
.popup__form input:-moz-placeholder, .popup__form input::-moz-placeholder { color: #000; opacity: 1; }
.popup__form input::-webkit-input-placeholder { color: #000; }
.popup__btn { padding: 15px 40px; color: #fff; background: #000; text-transform: uppercase; letter-spacing: 0.1em; font-family: DINPro-Bold, Arial, sans-serif; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }
.popup__btn:hover { background: #FFF; color: #000; }
.popup .check input { width: auto; margin-right: 5px; vertical-align: middle; }
.popup .check span { display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 730px) { .popup { padding: 30px 10px; } }
@media only screen and (max-width: 400px) { .popup .check span { width: 90%; text-align: left; } }
